<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Intrigma.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dropdownlist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dropdown List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TextInputPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TextInput
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CheckboxPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Checkbox
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TextAreaPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TextArea
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Buttons
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="complete-form">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Complete Form test
            </NavLink>
        </div>
    </nav>
</div>