.cb-container {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px;
    width: fit-content;
}
.cb-container:hover {
    cursor: pointer;
    background: #edebeb;
    border-radius: 6px;
}
::deep .cb:hover {
    cursor: pointer;
}

::deep .cb-primary {  }
::deep .cb-secondary { accent-color: #e5e5e5 }
::deep .cb-success { accent-color: lightgreen }

::deep .lb {
    cursor: pointer !important;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

::deep .cb-sm {
    width: 15px;
    height: 15px;
}
::deep .cb-md {
    width: 20px;
    height: 20px;
}
::deep .cb-lg {
    width: 25px;
    height: 25px;
}
::deep .cb-xlg {
    width: 30px;
    height: 30px;
}
::deep .lb-sm { font-size: 14px;}
::deep .lb-md { font-size: 16px; }
::deep .lb-lg { font-size: 18px; }
::deep .lb-xlg { font-size: 20px; }