::deep .textarea {
    width: 100%;
    border: 2px solid lightgray;
    padding: 5px 10px;
}
::deep .textarea:focus, ::deep .textarea:active, ::deep .textarea:focus-visible {
    outline: none !important;
    border: 2px solid #4fa9e1 !important;
    background-color: white !important;
}
::deep .textarea.rounded-corners {
    border-radius: 14px;
}
::deep .textarea.invalid {
    border: 1px solid red !important;
    outline: unset;
}